page-feed {
  .list-md .item-block {
    border-bottom: 1px solid $list-md-border-color;
  }
  .list-md .item-block .item-inner {
    border-bottom: 0;
  }

  .item ion-thumbnail {
    min-height: 6rem;
    &> img {
      border-radius: 2px;
    }
  }
}
